* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0px;
  height: 100vh;
  width: 100%;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: hsl(208, 100%, 45%);
  color: white;
  height: 80px;
  /* padding-inline: 25px; */
  height: 100vh;
  width: 200px;
}

.pages-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0px;
  width: 100%;
  overflow-y: hidden;
}

.side-nav a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  width: 100%;
}

.side-nav a:hover {
  background-color: hsl(208, 100%, 55%);
}

.side-nav a.active {
  background-color: hsl(208, 100%, 55%);
  color: white;
  pointer-events: none;
  cursor: default;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

.disabled-link:hover {
  background-color: none;
}

.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0px;
  width: 100%;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 53.5px;
  padding-inline: 25px;
  width: 100%;
  background-color: hsl(208, 100%, 94%);
}

h3 {
  padding: 0px;
  margin: 0px;
  color: hsl(208, 100%, 40%);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 25px;
  padding: 25px;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 53.5px);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
}

button.primary {
  background-color: hsl(208, 100%, 50%);
  color: white;
}

button.primary:hover {
  background-color: hsl(208, 100%, 40%);
}

button.secondary {
  background-color: hsl(208, 100%, 94%);
  color: hsl(208, 100%, 46%);
  border: 1px solid hsl(208, 100%, 46%);
}

button.secondary:hover {
  background-color: hsl(208, 100%, 84%);
}

button.on-light-bg {
  background-color: transparent;
  color: hsl(208, 100%, 40%);
  font-size: 22px;
  border: 1px solid hsl(208, 100%, 46%);
}

button.on-light-bg:hover {
  background-color: hsl(208, 100%, 74%);
  color: hsl(208, 100%, 35%);
}

button.circle-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px 40px 8px 10px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table tbody tr {
  cursor: pointer;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsl(208, 100%, 94%);
  color: hsl(208, 100%, 40%);
}

.table-link {
  text-decoration: underline;
  color: hsl(208, 100%, 40%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  max-width: 500px;
  min-width: 445px;
  max-height: 90vh;
  overflow: auto;
  position: relative;
  border-radius: 10px;
}

.modal-header {
  background-color: hsl(208, 100%, 94%);
  color: hsl(208, 100%, 40%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-main {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

label {
  display: block;
  padding-block-end: 6px;
}

.password-field-container {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.field-error-message {
  color: red;
  padding-block-end: 10px;
  font-size: 0.7rem;
}

.field-error-placeholder {
  height: 26.5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 25px;
  width: 445px;
  background-color: hsl(208, 100%, 94%);
  border: 1px solid hsl(208, 100%, 46%);
  padding: 20px;
  border-radius: 10px;
}

.item-details .label {
  font-weight: bold;
  padding-block-end: 6px;
  margin: 0px;
}
.item-details .value {
  font-weight: normal;
  margin: 0px;
}

.darker {
  background-color: hsl(208, 100%, 40%);
}

.darker.side-nav a.active {
  background-color: hsl(208, 100%, 50%);
}

.spinner-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 200px;
}

.small-spinner-outer {
  padding-block-start: 0px;
}

.spinner-inner {
  border: 8px solid hsl(0, 0%, 86%);
  border-radius: 50%;
  border-top: 8px solid hsl(212, 100%, 48%);
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.small-spinner-inner {
  width: 40px;
  height: 40px;
  border: 5px solid hsl(0, 0%, 86%);
  border-top: 5px solid hsl(212, 100%, 48%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
